@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    --Very-dark-blue_main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue_card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue_line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}
main{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 
body{
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: var(--Very-dark-blue_main-BG);
}
.card{
    background-color: var(--Very-dark-blue_card-BG);
    border-radius: 1rem;
    height: 545px;
    width: 325px;
    margin: auto auto;
    padding: 20px;
    box-shadow: 0 2.5rem 2.5rem rgba(0, 0, 0, 0.4);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

.imagen, .vista{
    border-radius: 1rem;   
    width: 100%;
}
.card_imagen, .vista{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_imagen{
    position: relative;
}
.vista{
    background-color: hsla(178, 100%, 50%, 0.5);
    min-height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.3s;
}
.vista:hover{
    opacity: 1;
}

.title{
    font-size: 1.4rem;
    color: var(--White);
    font-weight: 600;
    margin: 15px 0;
}
.title:hover{
    cursor: pointer;
    color: var(--Cyan);
}
.info{
    font-size: 1rem;
    color: var(--Soft-blue);
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 15px;
}
.states{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.money{
    display: flex;
    color: var(--Cyan);
    font-size: 1rem;
    align-items: center;
}

.time{
    display: flex;
    color: var(--Soft-blue);
    font-weight: 300;
    align-items: center;
}

.money img, .time img{
    margin-right: 10px;
}

.linea{
    border:1px solid var(--Very-dark-blue_line);
    width: 100%;
}
.autor{
    display: flex;
    color: var(--Soft-blue);
    margin-top: 15px;
    align-items: center;
}
.avatar{
    border-radius: 50%;
    border: 1px solid var(--White);
    margin-right: 12px;
    width: 2rem;
}
.name{
    color: var(--White);
    font-weight: 300;
    align-items: center;
}
.name:hover{
    cursor: pointer;
    color: var(--Cyan);
}
.attribution { font-size: 12px; text-align: center; margin-top: 20px;}
.attribution a { color: hsl(228, 45%, 44%); }
